@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<div class="container has-text-centered slide-up">
    <div class="file is-boxed is-info">
        <div class="column is-8 is-offset-2" style="border: 1px solid black">
            <h3 class="title">Register</h3>

            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <input class="input is-link" type="text" placeholder="Link input">
                </div>
                <div class="control">
                    <input class="input is-link" type="text" placeholder="Link input">
                </div>
            </div>
        </div>
    </div>
</div>