<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SITConnect</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <header class="navbar" style="background-color: #f8f9fa;">
                <div class="navbar-brand">
                    <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/logo.png" width="200" />
                    </a>
                </div>
                <div class="container mr-5">
                    <div id="navbar_menu" class="navbar-menu">
                        <nav class="navbar-end">
                            <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                            <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Privacy">
                                Privacy
                            </a>
                            <a class="navbar-item" asp-area="" asp-controller="Auth" asp-action="Login">
                                Login
                            </a>
                            <a class="navbar-item" asp-area="" asp-controller="Auth" asp-action="Register">
                                Register
                            </a>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
        <div class="hero-body">
            @RenderBody()
        </div>
        <footer class="hero-foot">
            <div class="container">
                &copy; 2022 - SITConnect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </section>


    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
