@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SITConnect.Models.UserChangePasswordDTO
@{
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}
<div class="column is-8 is-offset-4">
    <div class="container slide-up">
        <div class="columns is-gapless">
            <div class="column is-8 is-flex">
                <div class="box is-flex">
                    <div class="hero">
                        <div class="hero-head">
                            <div class="navbar">
                                <div class="navbar-brand">
                                    <a class="button is-info is-light" asp-controller="User" asp-action="Index">
                                        <span class="icon is-left">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                        <span>
                                            Back
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="hero-body">
                            <form id="Change_Password_Form" asp-controller="User" asp-action="Change_Password" method="post" enctype="multipart/form-data">
                                <div class="title">
                                    Change Password
                                </div>

                                <div class="field">
                                    <label class="label">Current Password</label>
                                    <div class="control">
                                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "input is-info", @placeholder = "Current Password", @type = "password" } })
                                    </div>
                                </div>
                                <div class="field">

                                    <label class="label">New Password</label>
                                    <div class="control">
                                        @Html.EditorFor(m => m.New_Password, new { htmlAttributes = new { @class = "input is-info", @placeholder = "New Password", @type = "password" } })
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control is-expanded has-icons-left">
                                        <div class="input button" id="Password_Error_1_Button">
                                            <span>Minimum 12 Characters</span>
                                        </div>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-check" id="Password_Error_1_Icon" style="color:gray"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control is-expanded has-icons-left">
                                        <div class="input button" id="Password_Error_2_Button">
                                            <span>Uses lower-case & upper-case</span>
                                        </div>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-check" id="Password_Error_2_Icon" style="color:gray"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control is-expanded has-icons-left">
                                        <div class="input button" id="Password_Error_3_Button">
                                            <span>Uses number(s)</span>
                                        </div>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-check" id="Password_Error_3_Icon" style="color:gray"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field is-grouped">
                                    <div class="control is-expanded has-icons-left">
                                        <div class="input button" id="Password_Error_4_Button">
                                            <span>Uses special character(s) (Ex. $, %)</span>
                                        </div>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-check" id="Password_Error_4_Icon" style="color:gray"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">

                                    <label class="label">Confirm New Password</label>
                                    <div class="control">
                                        @Html.EditorFor(m => m.Confirm_New_Password, new { htmlAttributes = new { @class = "input is-info", @placeholder = "Confirm New Password", @type = "password" } })
                                    </div>
                                </div>
                                <br />
                                <input type="hidden" id="token" name="token" />
                                @Html.ValidationSummary()
                                <div class="field">
                                    <div class="control is-expanded">
                                        <button data-sitekey="6LfBw2EeAAAAAOWs7S-UEbTZ06HRMlGL765U6lwS"
                                                data-callback='onSubmit'
                                                data-action='submit'
                                                class="input button is-warning is-light is-outlined g-recaptcha"
                                                type="submit"
                                                id="Change_Password_Button">
                                            Change Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="hero-foot fade-in">


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="/js/change_password.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("token").value = token;
            document.getElementById("Change_Password_Form").submit()
        }
    </script>
}