@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}
    <div class="container has-text-centered slide-up fade-in">
        <p class="title fade-in">
            <img src="~/logo.png" width="200" />
        </p>
        <p class="subtitle fade-in">
            Stationaries at the lowest prices
            <br />
            <br />
            <a class="button is-link is-light" asp-controller="Auth" asp-action="Login">Login</a>
            <br />
            <br />
            Developed By Derrick Png
        </p>
    </div>
