@{
    ViewData["Title"] = "Home Page";
}
    <div class="container has-text-centered slide-up fade-in">
        <p class="title fade-in">
            <img src="~/logo.png" width="200" />
        </p>
        <p class="subtitle fade-in">
            Stationaries at the lowest prices
        </p>
    </div>
